
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Background-color:#ecf0f3;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body{
    /* background-color: var(--Background-color); */
    background:url('https://wallpapercave.com/wp/wp4892340.jpg') ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(14,40,63);
    /* overflow-y: scroll; */
    overflow: hidden;
    position: relative;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(28, 58, 83); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }
.header{
/* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px); */
    display: flex;
    justify-content: space-between;
    padding:0 40px;
    position: fixed;
    left: 0;
    right: 0;
    /* z-index: 2; */
}
.header .side{
    font-size: 1.7rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.header .left{
    color: darkred;
    margin-right: 20px;
}
.header .right{
    color: darkblue;
    margin-left: 20px;
}
.header .logo-container img{
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header .left-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.header .right-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.header .partylist-logo-container img{
    width: 190px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.numberList{
    position: absolute;
    left: 10px;
    z-index: 3;
    bottom: 50px;
    font-size: 13px;
    color: rgb(167, 167, 167);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.comments-container{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: start;
    overflow-y: scroll;
}

/* #addBtn{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 10px 13px;
    z-index: 3;
    opacity: .5;
    border: none;
}

#addBtn:hover{
    opacity: 1;
    transition: all .3s;
} */

.countdown{
    color: white;
    position: absolute;
    right: 20px;
    bottom: 50px;
}
.fa-quote-left, .fa-quote-right{
    font-size:10px;
}



.form-container{
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.02);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    transform: scale(0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
@media(max-width:700px){
    .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        padding-bottom: 30px;
    }
    #comments{
        width:90%;
    }
    .about{
        margin-right:30px ;
        margin-bottom: 30px;
        margin-top: 33px;
    }
    .about p{
        position: relative;
        background: lightpink;
        box-shadow: -3px 2px 2px 2px rgba(0, 0, 0, 0.3);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 300;
        line-height: 30px;
        padding: 20px;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header .logo-container img{
        width: 120px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header .partylist-logo-container img{
        width: 130px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .form-container #exit{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 20px;
        cursor: pointer;
        color: gray;
    
    }
}
@media(max-width:375px){
    .header .side{
        font-size: 1.2rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }
    .header .logo-container img{
        width: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header .left-container{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .header .right-container{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .header .partylist-logo-container img{
        width: 120px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media(max-width:340px){
    .form-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .about{
        display: flex;
        align-items: center;
        flex: 1;
        margin-left: 30px;
    }
    .about img{
        width: 33px;
        position:absolute; 
        top:-15px;
        left:45%;
    }
    .about p{
        position: relative;
        background: lightpink;
        box-shadow: -3px 2px 2px 2px rgba(0, 0, 0, 0.3);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 300;
        font-size: 10px;
        line-height: 10px;
        padding: 20px;
    }
    
}
@media(max-width:290px){
    .header .side{
        font-size: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }
    .header .logo-container img{
        width: 80px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header .left-container{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .header .right-container{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .header .partylist-logo-container img{
        width: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.about{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 30px;
}
.about img{
    width: 35px;
    position:absolute; 
    top:-15px;
    left:45%;
}
.about p{
    position: relative;
    background: lightpink;
    box-shadow: -3px 2px 2px 2px rgba(0, 0, 0, 0.3);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    line-height: 30px;
    padding: 20px;
}

#comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin:0 20px;
    background-color: lightcoral;
    height: 220px;
    padding: 0 20px;
    position: relative;
    box-shadow: -3px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
#comments img{
    width: 35px;
    position:absolute; 
    top:-15px;
    left:45%;
}
#comments input{
    min-height: 40px;
    min-width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    outline: none;
    overflow-wrap: break-word;
    transition: all .4s;
    box-shadow: -3px 3px 2px 3px rgba(0, 0, 0, 0.3);
}
#comments input:focus{
    border: none;
    outline: none;
    box-shadow: -3px 3px 3px 3px inset rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    transition: all .2s;
}


#comments .btn{
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: green;
    cursor: pointer;
    box-shadow: -1px 1px 2px 2px rgba(0, 0, 0, 0.3);
}
#comments .btn:hover{
    background-color: rgb(1, 83, 1);
    
}
#exit{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    cursor: pointer;
    color: gray;

}
#exit:hover{
    color:black;
    transition: all .3s;
}

.nick-name{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transform: scale(1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.50);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.02);
    transition: all .4s;
}
.nick-name input{
    width: 40%;
    height: 2rem;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.nick-name .nnBtn{
    padding: 8px 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.replyformcontainer{
    z-index: 0;
    transform: scale(0);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#replyForm{
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    position: relative;
}
#replyForm #replyText{
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 90%;
}
#replyForm #replynickname{
    padding: 5px;
    margin: 10px 0;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 90%;
}
#replyForm #replybtn{
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
    color: white;
}
#replyExit{
 position: absolute;
 top: 5px;
 right: 5px;
cursor: pointer;
}

/* footer */
footer{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.18);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.8px);
-webkit-backdrop-filter: blur(6.8px);
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 3rem;
    justify-content: space-evenly;
}
footer .ico{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
footer .fa-plus{
    background-color:rgb(14,40,63);
    padding: 10px;
    border-radius: 5px;
}
footer .fa-plus:hover{
    transition: all .5s;
    background-color:rgb(9, 47, 80);

}
